.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
tests/cover
tests/coverage.xml
tests/coding_standard.xml
tests/junit.xml
public
*.lock