name: Build Docker

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build
        run: |
          cp .github/ci/.env.example .env
          docker build -t hyperf .
      - name: docker-compose
        run: |
          docker-compose up -d