name: PHPUnit

on: [ push, pull_request ]

env:
  SWOOLE_VERSION: '5.1.1'
  SWOW_VERSION: 'develop'

jobs:
  mineadmin:
    name: Test PHP ${{ matrix.php-version }} on ${{ matrix.engine }}
    runs-on: "${{ matrix.os }}"
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
        # How to use Redis
      redis:
          image: redis
          ports:
            - 6379/tcp
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php-version: ['8.1','8.2','8.3' ]
        engine: [  'swoole' ]
      max-parallel: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: phpize
          ini-values: opcache.enable_cli=0
          coverage: none
      - name: Verify MySQL connection from host
        run: |
            sudo apt-get install -y mysql-client libmysqlclient-dev
            mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports[3306] }} -uroot -proot -e "SHOW GRANTS FOR 'root'@'localhost'"
            mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports[3306] }} -uroot -proot mysql
      - name: Setup Swoole
        if: ${{ matrix.engine == 'swoole' }}
        run: |
          cd /tmp
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev
          wget https://github.com/swoole/swoole-src/archive/v${SWOOLE_VERSION}.tar.gz -O swoole.tar.gz
          mkdir -p swoole
          tar -xf swoole.tar.gz -C swoole --strip-components=1
          rm swoole.tar.gz
          cd swoole
          phpize
          ./configure --enable-openssl --enable-http2 --enable-swoole-curl --enable-swoole-json
          make -j$(nproc)
          sudo make install
          sudo sh -c "echo extension=swoole > /etc/php/${{ matrix.php-version }}/cli/conf.d/swoole.ini"
          php --ri swoole
      - name: Setup Packages
        run: composer install -o --no-scripts
      - name: Run Test Cases
        env:
          DB_PASSWORD: root
          DB_USERNAME: root
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
          REDIS_PORT: ${{ job.services.redis.ports[6379] }}
        run: |
          php bin/hyperf.php migrate --path=app/Setting/Database/Migrations
          php bin/hyperf.php migrate --path=app/System/Database/Migrations
          vendor/bin/php-cs-fixer fix --dry-run # cs-fixer 格式化代码
          composer analyse # phpstan 静态代码分析
          composer test  # phpunit