node_modules
.DS_Store
dist*
dist-ssr
*.local
.eslintcache
.stylelintcache
.idea*
types/auto-imports.d.ts
types/components.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
